<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detect a Change in an array - using v-bind</title>
</head>

<body>
    <div id="app-6">
        <li v-for="item in items">
            {{item.id}} ) {{ item.name }}
        </li>
        <p>{{ items[0].name }}</p>
        <input v-model="items[0].id">
        <div>
            <button v-on:click="reverseitems">Reverse array</button>
            <button v-on:click="popitem">Pop an element</button>
        </div>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    var app6 = new Vue({
        el: '#app-6',
        data: {
            items: [
                { id: 1, name: 'patates' },
                { id: 4, name: 'peres' },
                { id: 3, name: 'pomes' },
            ]
        },

        methods: {
            reverseitems: function (event) {
                this.items.reverse()
            },
            popitem: function (event) {
                this.items.pop()
            }
        }
    })
</script>